<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>5</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1152, 1466}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-02-06 22:35:26 +0000</string>
	<key>Creator</key>
	<string>Danny Jacobs</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{39.500098693085732, 355.73825073242188}, {152, 21}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>9</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.39</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf1 HERA Field of View}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>8</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{36.72483204972955, 407.0343528416991}</string>
				<string>{1065.2859103042056, 407.0343528416991}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>HeadScale</key>
					<real>1.9000002145767212</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>7</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{36.72483151887193, 376.73825240462759}</string>
				<string>{1066.2926189994268, 376.73825240462759}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>HeadScale</key>
					<real>1.9000002145767212</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{657.02201491215965, 378.35115392200663}, {9, 22}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>56</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.39</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf1 x}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{55.612902059763726, 66.064515297916586}, {231, 21}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>52</integer>
			<key>Layer</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.39</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf1 MWA Foreground Observations}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{409.84042916789599, 64.606184685280255}, {56.520193586365899, 25.253705146251946}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0</string>
							<key>g</key>
							<string>0</string>
							<key>r</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>43</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.39</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf1 23 Aug 2013\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural
\cf1 2 minutes}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{36.7248298623187, 61.159929080758786}, {432.92063172535552, 206.10855102539062}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>44</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 1}</string>
						<string>{1, -1}</string>
						<string>{-1, -1}</string>
						<string>{-1, 1}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>42</integer>
			<key>Layer</key>
			<integer>2</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>44</integer>
				<key>Info</key>
				<integer>1</integer>
			</dict>
			<key>ID</key>
			<integer>48</integer>
			<key>Layer</key>
			<integer>2</integer>
			<key>Points</key>
			<array>
				<string>{639.26982951982939, 373.9285661454752}</string>
				<string>{469.64546158767428, 267.26848010614947}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>HeadScale</key>
					<real>1.9000002145767212</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>5</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{639.26982951982939, 373.9285661454752}, {58.284766480642929, 36.2502809779063}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5</integer>
			<key>Layer</key>
			<integer>2</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{720.41266086041719, 246.26846313476562}, {55, 21}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>21</integer>
			<key>Layer</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.39</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf1 PAPER}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{403.16770306074267, 267.26846592177498}, {662.65499849468461, 240.93959045410156}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>20</integer>
			<key>Layer</key>
			<integer>3</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>RoundRect</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>VFlip</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{-154.19190445402765, 805.4177203753992}, {484.77090454101562, 32}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>28</real>
			</dict>
			<key>ID</key>
			<integer>55</integer>
			<key>Layer</key>
			<integer>4</integer>
			<key>Rotation</key>
			<real>270</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs56 \cf0 -29                   -28                  -27}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{123.2955117189845, 594.20019422275743}, {643, 42}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>36</real>
			</dict>
			<key>ID</key>
			<integer>53</integer>
			<key>Layer</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs72 \cf0 Simulated HERA Reionization Observations}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{895.94487585685658, 579.0323165373552}, {145.04305735860297, 65.269375811371305}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0</string>
							<key>g</key>
							<string>0</string>
							<key>r</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Times-Roman</string>
						<key>Size</key>
						<real>36</real>
					</dict>
					<key>ID</key>
					<integer>68</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.39</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>10</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\froman\fcharset0 Times-Roman;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading200\pardirnatural

\f0\fs72 \cf0 100Mpc}</string>
						<key>VerticalPad</key>
						<integer>10</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>69</integer>
					<key>Points</key>
					<array>
						<string>{895.94481895811907, 637.69709343718637}</string>
						<string>{1040.9878763167217, 637.69709343718637}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>HeadArrow</key>
							<string>0</string>
							<key>HeadScale</key>
							<real>1.9000002145767212</real>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>6</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{294.36147153267478, 885.86745097335199}, {224.47140356255559, 91.1699217682647}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0</string>
							<key>g</key>
							<string>0</string>
							<key>r</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>TimesNewRomanPS-BoldMT</string>
						<key>Size</key>
						<real>24</real>
					</dict>
					<key>ID</key>
					<integer>70</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.39</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>10</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading200\pardirnatural

\f0\b\fs48 \cf0 GOODS-South\
HUDF}</string>
						<key>VerticalPad</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{355.14141937818482, 820.59808570093958}, {42.822234664693845, 65.269375811371305}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>71</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Width</key>
							<real>5</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>72</integer>
					<key>Points</key>
					<array>
						<string>{593.4264421816041, 945.17975936995936}</string>
						<string>{467.72245913748151, 839.24647878990322}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>HeadScale</key>
							<real>0.59999990463256836</real>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>10</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{593.42646325952262, 909.69596379265124}, {459.9936961944266, 131.57477346101842}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>1</string>
							<key>g</key>
							<string>1</string>
							<key>r</key>
							<string>1</string>
						</dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>24</real>
					</dict>
					<key>ID</key>
					<integer>73</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.39</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>10</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading200\pardirnatural

\f0\fs48 \cf1 z = 8\
Representative HI shells and HII holes detectable at SNR&gt;10 after 100 hours }</string>
						<key>VerticalPad</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>74</integer>
					<key>Points</key>
					<array>
						<string>{816.94810898937067, 905.46551239974599}</string>
						<string>{636.24867287489315, 740.99703776477668}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>HeadScale</key>
							<real>0.59999990463256836</real>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>10</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{39.500099316844171, 579.0323165373552}, {1025.7858109873614, 548.40087198270442}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>75</integer>
					<key>ImageID</key>
					<integer>4</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>67</integer>
			<key>Layer</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{648.14079719353902, 382.79953381918483}, {38.052742004394531, 16.754175186157227}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>54</integer>
			<key>Layer</key>
			<integer>6</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>50</integer>
			<key>Layer</key>
			<integer>6</integer>
			<key>Points</key>
			<array>
				<string>{686.20040940594129, 400.05366182146707}</string>
				<string>{688.61289401803606, 575.61289879112178}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>HeadScale</key>
					<real>1.9000002145767212</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>54</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{41.808304021311301, 575.60821533203125}, {1019.4678631868796, 544.63706178271843}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>46</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Layer</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{612.37773789604137, 338.299252339725}, {112.0689697265625, 112.0689697265625}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>16</integer>
			<key>Layer</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{829.97092475031297, 338.29926527217191}, {112.0689697265625, 112.0689697265625}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>15</integer>
			<key>Layer</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{640.55465409472401, 314.53400368912611}, {57, 21}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>13</integer>
			<key>Layer</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.39</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf1 MWA 1}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{861.23020233335455, 313.74670269146844}, {53, 21}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>12</integer>
			<key>Layer</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.39</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf1 MWA2}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{36.926174242960563, 61.159927524002484}, {1028.8966064453125, 514.44830322265625}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Layer</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>5</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image4.pdf</string>
		<string>image3.jpg</string>
		<string>image2.tiff</string>
		<string>image1.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>HERA FOV</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>GOODS etc</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>MWA Im</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>YES</string>
			<key>Name</key>
			<string>PAPER</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>YES</string>
			<key>Name</key>
			<string>Fudge</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>HERAsim2</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>HERAsim</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>YES</string>
			<key>Name</key>
			<string>MWA</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>YES</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2014-02-19 19:54:02 +0000</string>
	<key>Modifier</key>
	<string>Danny Jacobs</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>2</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{1440, 300}, {800, 600}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>145</integer>
		<key>VisibleRegion</key>
		<string>{{-290, 18.91891867510153}, {1729.7297074378541, 1245.9459298888291}}</string>
		<key>Zoom</key>
		<real>0.37000000476837158</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>0.37000000476837158</real>
				<real>0.36000001430511475</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
